<header class="p-1 my-3 bg-secondary text-white">
  <nav class="container d-flex align-items-center">
    <h1 class="mb-0"><%= t('.title') %></h1>

    <div class="ms-auto d-flex align-items-center">
      <ul class="nav col-12 col-lg-auto mb-2 mb-md-0">
        <li class="dropdown me-2">
          <%= link_to '#', class: 'nav-link px-2 dropdown-toggle text-white d-flex align-items-center',
                data: { "bs-toggle": 'dropdown' } do %>
            <%= flag_for(I18n.locale) %>
            <%= t(I18n.locale) %>
          <% end %>

          <ul class="dropdown-menu">
            <% I18n.available_locales.each do |locale| %>
              <li>
                <% if I18n.locale == locale %>
                  <span class="dropdown-item d-flex align-items-center">
                    <%= flag_for(locale) %> <%= t(locale) %>
                  </span>
                <% else %>
                  <%= link_to url_for(locale: locale), class: "dropdown-item d-flex align-items-center" do %>
                    <%= flag_for(locale) %> <%= t(locale) %>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
      <% if user_signed_in? %>
        <span class="me-2"><%= t('.hello') %> <%= current_user.username %>!</span>
          <% if current_user.games.exists? %>
            <%= link_to t('buttons.statistics'), user_path(current_user), data: { turbo_frame: 'login' }, class: "btn btn-outline-light me-2" %>
          <% end %>
        <%= link_to t('buttons.log_out'), session_path, data: { turbo_method: :delete }, class: "btn btn-outline-light" %>
      <% else %>
        <%= link_to t('buttons.sign_up'), new_user_path, data: { turbo_frame: 'login' }, class: "btn btn-outline-light me-2" %>
        <%= link_to t('buttons.log_in'), new_session_path, data: { turbo_frame: 'login' }, class: "btn btn-outline-light" %>
      <% end %>
    </div>
  </nav>
</header>