<%= render 'header' %>

<%= turbo_frame_tag 'login' %>

<%= render 'form_games' %>

<div class='mx-3'>
  <ul class="text-success"><%= t('.string_0') %></ul>
  <ul><%= t('.string_1') %></ul>
  <ul><%= t('.string_2') %></ul>
  <ul><%= t('.string_3') %></ul>
  <ul><%= t('.string_4') %></ul>
  <ul class="text-danger ms-4"><%= t('.string_5') %>
    <li class="ms-4"><%= t('.string_6') %></li>
    <li class="ms-4"><%= t('.string_7') %></li>
    <li class="ms-4"><%= t('.string_8') %></li>
  </ul>
  <ul><%= t('.string_9') %></ul>
</div>
